<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PANTAS</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logo/32.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/logo/12.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar mt-3" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="./index.html" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./laporan.html" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Laporan</span>
              </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./setting.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Setting</span>
                </a>
              </li>
          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
          
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
    
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title fw-semibold mb-4">Daftar Pelaporan</h1>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nama Pelapor</th>
                          <th scope="col">Nomor WA</th>
                          <th scope="col">Tingkat Keparahan</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>John Doe</td>
                          <td>+62 812 3456 7890</td>
                          <td>Biasa</td>
                          <td>
                            <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                            <button class="btn btn-sm btn-success">Terima</button>
                            <button class="btn btn-sm btn-warning">Tolak</button>
                            <button class="btn btn-sm btn-danger">Hapus</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jane Smith</td>
                          <td>+62 813 1234 5678</td>
                          <td>Parah</td>
                          <td>
                            <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                            <button class="btn btn-sm btn-success">Terima</button>
                            <button class="btn btn-sm btn-warning">Tolak</button>
                            <button class="btn btn-sm btn-danger">Hapus</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Adam Lee</td>
                          <td>+62 811 2345 6789</td>
                          <td>Sedang</td>
                          <td>
                            <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                            <button class="btn btn-sm btn-success">Terima</button>
                            <button class="btn btn-sm btn-warning">Tolak</button>
                            <button class="btn btn-sm btn-danger">Hapus</button>
                          </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Adam Lee</td>
                            <td>+62 811 2345 6789</td>
                            <td>Sedang</td>
                            <td>
                              <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                              <button class="btn btn-sm btn-success">Terima</button>
                              <button class="btn btn-sm btn-warning">Tolak</button>
                              <button class="btn btn-sm btn-danger">Hapus</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Adam Lee</td>
                            <td>+62 811 2345 6789</td>
                            <td>Sedang</td>
                            <td>
                              <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                              <button class="btn btn-sm btn-success">Terima</button>
                              <button class="btn btn-sm btn-warning">Tolak</button>
                              <button class="btn btn-sm btn-danger">Hapus</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Adam Lee</td>
                            <td>+62 811 2345 6789</td>
                            <td>Sedang</td>
                            <td>
                              <button class="btn btn-sm btn-info"><a href="detail.html" style="text-decoration: none; color: white;">lihat</a></i></button>
                              <button class="btn btn-sm btn-success">Terima</button>
                              <button class="btn btn-sm btn-warning">Tolak</button>
                              <button class="btn btn-sm btn-danger">Hapus</button>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>